@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
  --heading-font: "DM Serif Display", serif;
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-size: 14px;
  width: 100%;
  background-color: #ffffff;
  font-size: 16px;
}
nav {
  height: 10vh;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button_open_close {
  display: none;
}
section,
footer {
  padding: 0 10%;
}
.navlinks {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}
.navlinks > li {
  list-style: none;
  font-weight: 400;
  color: var(--greyish-blue);
  font-size: 16px;
}
.navlinks > li > button {
  width: 8.5em;
  height: 2.5em;
  padding: 5%;
  font-weight: 400;
  background-color: transparent;
  border-color: var(--very-dark-violet);
  color: var(--very-dark-violet);
  transition: all 0.5s ease;
}

.navlinks > li > button:hover {
  background-color: var(--very-dark-violet);
  border-color: var(--very-dark-violet);
  color: var(--very-light-gray);
}

.info_section {
  background-color: var(--dark-violet);
  height: 80vh;
  padding-top: 8%;
  position: relative;
}

.pattern{
  position: absolute;
}
.bg-pattern{
  top: 0;
  right: 0;
}
.bg-pattern-mobile,
.left-pattern-mobile,
.contact-bg-mobile,
.footer-bg-mobile{
  display: none;
}
.left-pattern{
  left: 0;
  bottom: -55%;
}
.info_inner_container {
  color: var(--very-light-gray);
  display: flex;
  justify-content: space-between;
}
.dash {
  width: 30%;
  background-color: var(--very-light-gray);
  height: 2px;
  margin-bottom: 4em;
}
.left_info_inner {
  color: var(--very-light-gray);
  padding-right: 5%;
}

.left_info_inner > h1 {
  font-weight: 400;
  font-size: 70px;
  font-family: var(--heading-font);
  line-height: 70px;
  margin-bottom: 0.5em;
}
.left_info_inner > p {
  line-height: 30px;
}
.left_info_inner > button {
  margin-top: 1.5em;
  width: 30%;
  height: 2.9em;
  background-color: transparent;
  border-color: var(--very-light-gray);
  color: var(--very-light-gray);
  outline: none;
}
.left_info_inner > button:hover {
  background-color: var(--very-light-gray);
  color: var(--very-dark-violet);
  transition: all 0.5s ease;
}
#image_intro_mobile {
  display: none;
}

.about_section {
  height: 80vh;
  margin-top: 20vh;
  padding-top: 8%;
  /* background-color: red; */
}
.inner_about_ctna {
  height: 100%;
  width: 100%;
}
.inner_about_ctna > h1 {
  font-weight: 400;
  font-size: 70px;
  font-family: var(--heading-font);
  line-height: 70px;
  margin-bottom: 0.5em;
}

.dash_inverse {
  width: 15%;
  background-color: var(--dark-violet);
  height: 2px;
  margin-bottom: 4em;
}
.about_card {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}
.about_card div {
  width: 30%;
}
.about_card h1 {
  color: var(--very-dark-violet);
  font-family: var(--heading-font);
  margin: 10% 0 8% 0;
}
.about_card p {
  color: var(--greyish-blue);
}

.contact_section {
  width: 100%;
  height: 50vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.inner_contact_section {
  width: 100%;
  height: 25vh;
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  display: flex;
  padding: 10%;
  justify-content: space-between;
  align-items: center;
  font-family: var(--heading-font);
  font-size: 30px;
  position: relative;
}
.contact-bg{
  right: 0;
  
}
.inner_contact_section > button {
  width: 15%;
  height: 3.5em;
  color: var(--very-light-gray);
  background-color: transparent;
  border-color: var(--very-light-gray);
  transition: all 0.5s ease;
  z-index: 99;
}
.inner_contact_section > button:hover {
  color: var(--very-dark-violet);
  background-color: var(--very-light-gray);
  border-color: var(--very-dark-violet);
}
footer {
  height: 50vh;
  padding-top: 8vh;
  background-color: var(--very-light-gray);
}
.footer_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  border-bottom: solid 1px var(--greyish-blue);
}

.social_ctna {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
footer{
  position: relative;
}
.footer_cards {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding-top: 2em;
  font-size: 16px;
}
.footer_card {
  width: 30%;
  font-weight: 700;
}
.footer_card p {
  color: var(--greyish-blue);
  margin-bottom: 1.5em;
}
.footer_card ul {
  list-style: none;
  line-height: 2em;
}
.footer_head,
.footer_cards{
  z-index: 99;
  
}
.footer-bg{
  left: 0;
  top: 0;

}

@media screen and (max-width: 380px) {
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .bg-pattern,
.left-pattern,
.contact-bg,
.footer-bg{
  display: none;
}
  nav {
    flex-direction: column;
    padding: 1em 0 0 0;
  }
  .nav_header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
  }


  .button_open_close {
    display: block;
  }
  .burger_close{
    display: none;
  }
  .navlinks {
    background-color: var(--dark-violet);
    height: 92vh;
    margin-top: 8vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
    color: var(--very-light-gray);
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* display: none; */
  }

  .navlinks li {
    font-size: 20px;
    margin-top: 1.5em;
    opacity: 0;
  }
  .navlinks li button {
    width: 80vw;
    border-color: var(--very-light-gray);
    color: var(--very-light-gray);
    height: 3.5em;
    transition: all 0.5s ease;
  }
  .navlinks li button:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
    outline: none;
  }
  section,
  footer {
    padding: 0;
    width: 100vw;
  }
  .info_section {
    padding-top: 0;
    height: 140vh;
    position: relative;
  }

  #image_intro_desktop,
  .dash {
    display: none;
  }
  #image_intro_mobile {
    display: block;
    width: 100vw;
  }
  .info_inner_container {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .left_info_inner {
    padding: 15vh 10% 0 10%;
    text-align: center;
  }
  .left_info_inner > h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .left_info_inner > p {
    font-size: 16px;
  }
  .left_info_inner > button {
    width: 50%;
    outline: none;
  }

  .about_section {
    height: 170vh;
    padding-top: 15vh;
    margin: 0;
    margin-bottom: 1em;
  }
  .dash_inverse {
    width: 50%;
    margin-left: 25%;
    height: 1px;
    margin-bottom: 1.5sem;
    background-color: var(--greyish-blue);
  }
  .inner_about_ctna {
    text-align: center;
  }
  .inner_about_ctna > h1 {
    font-size: 40px;
  }
  .about_card {
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
  }
  .about_card div {
    width: 80%;
    margin-bottom: 5em;
  }
  .contact_section {
    padding: 1em 1.5em;
    height: 55vh;
    margin-top: 10em;
    /* background-color: peru; */
  }
  .inner_contact_section {
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 15% 5% 20% 5%;
  }
  .inner_contact_section > button {
    width: 60%;
  }
  footer {
    height: 150vh;
    margin-top: 15vh;
  }
  .footer_head {
    flex-direction: column;
    height: 30vh;
    padding-top: 15vh;
  }
  .social_ctna {
    width: 40%;
    justify-content: space-around;
  }
  .footer_cards {
    flex-direction: column;
    text-align: center;
  }
  .footer_card {
    /* background-color: orange; */
    width: 100%;
    margin-bottom: 3.5em;
  }

}



.navlinksActive {
  transform: translateX(0%);
}
.display_none{
  display: none;
}
.display_block{
  display: block;
}

@keyframes navLinksFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}